# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Django
db.sqlite3
*.sqlite3

# Environments
venv/
.env

# VSCode settings
.vscode/

# Diagrams or images
# *.png
*.jpg
*.jpeg

# OS files
.DS_Store
Thumbs.db
